@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
body {
  font-family: "Roboto Slab", serif;
  background-color: lightblue;
}

h1 {
  font-size: 2rem;
  text-align: center;
}
h2 {
  font-size: 1.5rem;
  color: black;
}
h3 {
  font-size: 1.25rem;
}
#info-ul {
  padding: 1rem;
  margin: 0 auto;
  border: 1rem solid red;
  text-align: center;
}