@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
body {
  font-family: "Roboto Slab", serif;
  background-color: lightblue;
  color: blueviolet;
}

h1 {
  font-size: 2rem;
  text-align: center;
}
h2 {
  font-size: 1.5rem;
  color: black;
}
h3 {
  font-size: 1.25rem;
}
#info-para {
  padding: 1rem;
  margin: 0 auto;
  border: 1rem solid red;
}

.navLinkBox {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5rem;
  margin: 1rem 0;
  gap: 1rem 0;
}
.gridBox {
  display: grid;
  height: 20rem;
  width: 40rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  background-color: red;
}
#boxItem1 {
  background-color: green;
}
#boxItem2 {
  background-color: green;
}
#boxItem3 {
  background-color: green;
}
#boxItem4 {
  background-color: green;
}
#boxItem5 {
  background-color: green;
}
#boxItem6 {
  background-color: green;
}
#boxItem7 {
  background-color: green;
}
